html{
	background-color: white;
}
body{
	width: auto;
	height: auto;
}
div{
	height: 1150px;
}
.sser{background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}
.farm2{
	font-size: 80px;
background-image: url(pict/phon.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.farm2 h2{
	text-align: right;
}
.farm2 h3{
	text-align: center;
}
.farm1{
	text-align: center;
	font-size: 40px;
	background-image: url(pict/sse.jpg);
	background-repeat: no-repeat;
	background-position: center ;
	background-attachment: scroll;
	
  
 
}

.farm3{

	background-image: url(pict/rop.jpg);
	 background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.farm3 p{
	background-image: url(pict/bel.jpg);
	 background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 80px;
}
.button1{
	height: 25px;
	width: 50px;
}
.farm4{
	background-image: url(pict/ons.jpg);
	 background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
