.container{
	width: 1200px;
	margin: 0 auto;
	background-color: lightpink;
	height: 800px;
	margin-top: -10px;
}
@media (max-width: 575.98px) {
.container{
	display: none;
}
}


@media (min-width: 576px) and (max-width: 767.98px) {
.container{
	width: 570px;
}
}


@media (min-width: 768px) and (max-width: 991.98px) {
.container{
	width: 760px;
}
}


@media (min-width: 992px) and (max-width: 1199.98px) {
.container{
	width: 990px;
}
}


@media (min-width: 1200px) and (max-width: 1499.98px) {
.container{
	width: 1200px;
}
}
@media (min-width: 1500px) and (max-width: 1920px) {
.container{
	width: 1500px;
}
}