#shapka1{

  float: left;
  text-align: left;
  font-size: 20px;
  line-height: 30px;
}
#shapka1 img{
  height: 200px;
  width: 200px;
}
#shapka2 img{
  height: 550px;
  width: 980px;
}

#shapka2{
  margin-left: 25%;
}
body{
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  background: #C1ABA4;
}
